.box-icon-point{
	width: 100%;
	display: inline-block;
	text-align: center;

	.icon{
		width: 100px;
		height: auto;
		overflow: hidden;
		margin: auto;
		margin-bottom: 30px;

		img{
			width: 100%;
			height: auto;
		}
	}

	.name{
		font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: $color-black;
    margin-bottom: 15px;
	}

	.description{
		font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
	}
}

.career-album-wrapper{
	width: 100%;
	display: inline-block;

	a.img-small{
		width: 100%;
		height: 160px;
		overflow: hidden;
		margin-bottom: 15px;
		position: relative;
		display: inline-block;

		&:hover{
			.overlay-img{
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: rgba(0, 0, 0, 0.5);
			}
		}

		img{
			width: auto;
			height: 100%;
		}
	}

	a.img-medium{
		width: 100%;
		height: 300px;
		overflow: hidden;
		margin-bottom: 30px;
		position: relative;
		display: inline-block;

		&:hover{
			.overlay-img{
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: rgba(0, 0, 0, 0.5);
			}
		}

		img{
			width: auto;
			height: 100%;
		}
	}

	a.img-big{
		width: 100%;
		height: 300px;
		overflow: hidden;
		margin-bottom: 30px;
		position: relative;
		display: inline-block;

		&:hover{
			.overlay-img{
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: rgba(0, 0, 0, 0.5);
			}
		}

		img{
			width: 100%;
			height: auto;
		}
	}
}

.introduction-wrapper{
	width: 100%;
	display: inline-block;
	padding: 10em;
  background: url(../images/gallery/mbz-cover.jpg) no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  position: relative;
  text-align: center;

  .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 0;
  }

  .title{
		font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: $color-white;
    font-size: 25px;
    margin-bottom: 40px;
  }

  .description{
		font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: $color-white;
    font-size: 16px;
    line-height: 30px;
  }
}

.open-position-wrapper{
	width: 100%;
	display: inline-block;

	.panel{
		margin-bottom: -4px;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

		&.panel-default{

		}

		.panel-heading{
			background-color: $color-white;
			border-top-left-radius: 0px;
      border-top-right-radius: 0px;

      a{
      	font-family: 'Poppins', sans-serif;
    		font-weight: 400;
    		text-transform: capitalize;
    		color: $color-black;
    		font-size: 16px;
      }
		}

		.panel-body{
			background-color: #f2f2f2;
			border-left: 5px solid #dddddd;
			padding: 15px;

			.title{
				font-family: 'Poppins', sans-serif;
    		font-weight: 600;
    		font-size: 14px;
    		margin-bottom: 15px;
			}

			p{
				font-family: 'Poppins', sans-serif;
				font-weight: 300;
				line-height: 25px;
				margin-bottom: 15px;
				font-size: 12px;
			}
		}
	}
}

.box-form-apply-job{
	width: 100%;
	display: inline-block;
	margin-top: 5em;
}