.bg-white{
	background-color: $color-white;
}

.bg-gray-light{
	background-color: $color-gray-light;
}

.bg-gray{
	background-color: $mbz-gray;
}

.bg-blue-1{
	background-color: $mbz-blue-1;
}

.bg-green-1{
	background-color: $mbz-green-1;
}

.bg-green-2{
	background-color: $mbz-green-2;
}