// OPEN SANS
@font-face {
  font-family: open-sans-bold;
  src: url('../fonts/open-sans/OpenSans-Bold.ttf');
}

@font-face {
  font-family: open-sans-bold-italic;
  src: url('../fonts/open-sans/OpenSans-BoldItalic.ttf');
}

@font-face {
  font-family: open-sans-extra-bold;
  src: url('../fonts/open-sans/OpenSans-ExtraBold.ttf');
}

@font-face {
  font-family: open-sans-extra-bold-italic;
  src: url('../fonts/open-sans/OpenSans-ExtraBoldItalic.ttf');
}

@font-face {
  font-family: open-sans-italic;
  src: url('../fonts/open-sans/OpenSans-Italic.ttf');
}

@font-face {
  font-family: open-sans-light;
  src: url('../fonts/open-sans/OpenSans-Light.ttf');
}

@font-face {
  font-family: open-sans-light-italic;
  src: url('../fonts/open-sans/OpenSans-LightItalic.ttf');
}

@font-face {
  font-family: open-sans-regular;
  src: url('../fonts/open-sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: open-sans-semibold;
  src: url('../fonts/open-sans/OpenSans-Semibold.ttf');
}

@font-face {
  font-family: open-sans-semibold-italic;
  src: url('../fonts/open-sans/OpenSans-SemiboldItalic.ttf');
}

// POPPINS
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');