$color-white : #FFFFFF;
$color-black : #000000;
$color-gray-dark : #222222;
$color-gray-light : #F5F5F5;
$mbz-gray : #f6f7fa;
$mbz-blue-1 : #265ba6;
$mbz-blue-2 : #1e55a3;
$mbz-green-1 : #20a347;
$mbz-green-2 : #229c47;
$mbz-green-3 : #369c55;
$mbz-green-4 : #1e8f40;
$mbz-yellow : #ffe100;