.bg-white{
	background-color: $white!important;
}

.bg-black{
	background-color: $black!important;
}

.bg-yellow{
	background-color: $yellow!important;
}

.bg-grey{
	background-color: $grey!important;
}

.bg-grey2{
	background-color: $grey2!important;
}

.bg-blue-light{
	background-color: $blue-light!important;
}

.bg-red-1{
	background-color: $red-1!important;
}

.bg-red-2{
	background-color: $red-2!important;
}

.bg-red-3{
	background-color: $red-3!important;
}

.bg-blue-1{
	background-color: $blue-1!important;
}

.bg-blue-2{
	background-color: $blue-2!important;
}

.bg-blue-3{
	background-color: $blue-3!important;
}

.txt-white{
	color: $white!important;
}

.txt-black{
	color: $black!important;
}

.txt-yellow{
	color: $yellow!important;
}

.txt-grey{
	color: $grey!important;
}

.txt-grey2{
	color: $grey2!important;
}

.txt-blue-light{
	color: $blue-light!important;
}

.txt-red-1{
	color: $red-1!important;
}

.txt-red-2{
	color: $red-2!important;
}

.txt-red-3{
	color: $red-3!important;
}

.txt-blue-1{
	color: $blue-1!important;
}

.txt-blue-2{
	color: $blue-2!important;
}

.txt-blue-3{
	color: $blue-3!important;
}