// OVERIDE NAVBAR
.navbar{
	border: 0px solid transparent;
	border-radius: 0px;
}

.navbar-default {
  background-color: $red-1;
  margin-bottom: 0px;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  z-index: 999;

  .navbar-brand {
	  color: $white;

	  img{
	  	margin-top: 5px;
	  	width: 160px;
	  }
	}

	.navbar-nav>li>a {
	  color: $white;
	  text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: $stack-muli;
		font-weight: 700;

	  &:hover{
	  	color: #ad120d;
	  }
	}
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
  color: $yellow;
  background-color: transparent;
  border-bottom: 5px solid $yellow;
}

// OVERIDE BUTTON
.btn{
	border-radius: 3px;
	border: 0px solid transparent;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	font-family: $stack-muli;
	font-weight: 300;
}

.btn-danger {
  color: #fff;
  background-color: $red-1;
  border-color: $red-2;
}

.btn-warning{
	color: #fff;
  background-color: $yellow;
  border-color: $yellow;
}

// FORM
.form-control{
	border-radius: 0px;
	margin-bottom: 10px;
}