.nav-target{
	display: block;
	width: 100%;
	background: $blue-light;
	border-bottom: 1px solid #a6ddee;

	.box-list-nav{
		display: inline-block;
		width: 100%;

		ul{
			padding-left: 0;
	    width: 100%;
	    display: inline-block;
	    margin-bottom: -5px;

			li{
				list-style: none;
				float: left;

				&.tech{
					background: $blue-1;
					color: $white;
					border-bottom: 8px solid $blue-1;

					a{
						color: $white;
					}
				}

				&:hover{
					a{
						color: #7bb5c7;
					}
				}

				a{
					text-transform: uppercase;
					display: inline-block;
					text-decoration: none;
					padding: 15px 20px;
					cursor: pointer;

					&.active{
						border-bottom: 8px solid $red-1;

						a{
							color: $red-1;
						}
					}
				}
			}
		}
	}
}

.service-page-wrapper{
	display: block;
	width: 100%;
	padding-top: 50px; 

	.service-wrapper__image-process{
		margin: auto;
		display: table;
		margin-top: 3em;

		img{
			width: 100%;
			height: 100%;
			display: block;
		}
	}

	.service-wrapper__info-service{
		display: block;
		width: 100%;

		.service-info{
			width: 100%;
			display: block;
			margin-top: 5em;

			.title{
				font-family: $stack-muli;
				font-weight: 700;
				color: $blue-2;
				font-size: 3em;
				margin-bottom: 20px;
			}

			.description{
				font-family: $stack-muli;
				font-weight: 300;
				color: $blue-2;
				font-size: 16px;

				ul.no_bullet {
					display: block;
					list-style-type: none;
					padding: 0;
					margin: 0;
					margin-top: 15px;
					padding-left: 0px;
				}

				li.check {
					list-style: none;
					padding-left: 44px;
					padding-top: 3px;
					margin-bottom: 10px;
					background: url('../images/gallery/check.png') no-repeat left top;
				}
			}
		}

		.image-info{
			width: 100%;
			display: block;

			img{
				width: 100%;
				height: 100%;
				display: block;
			}
		}
	}
}